<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/770b805d5c99c7931366c2e84e88f251.png">
    <link rel="stylesheet" href="/css/styles.css">
   
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this page for weather information</p>

        <form>
            <input placeholder="Enter Location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>    
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>